<launch>
    <node name="tsdf_node" pkg="yak_ros" type="yak_ros_node" output="screen">
        <!--<remap from="~input_point_cloud" to="/point_cloud"/>-->
        <remap from="~input_point_cloud" to="/point_cloud_transformed"/>

        <param name="tsdf_frame" value="tsdf_origin"/>
        <rosparam param="camera_matrix">[550.0, 0.0, 512.0, 0.0, 550.0,
            640.0, 0.0, 0.0, 1.0]</rosparam>
        <!-- camera_matrix: [focal_x, ?, cx, ?, focal_y, cy, ?, ?, ?] -->
        <param name="cols" value="1280"/>
        <param name="rows" value="1024"/>

        <param name="volume_resolution" value="0.001"/>
        <!--<param name="volume_x" value="640"/>
        <param name="volume_y" value="640"/>
        <param name="volume_z" value="192"/>-->
        <param name="volume_x" value="1024"/>
        <param name="volume_y" value="1024"/>
        <param name="volume_z" value="1024"/>
    </node>

    <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" 
args="0 -0.5 0 0 0 0 1 world_frame tsdf_origin 100" />
    <!-- args: How to translate. "x y z qx qy qz qw from_frame to_frame frequency" -->
</launch>
